/**
 * User Home Screen CSS.
 */

.uhs-hidden {
	visibility: none !important;
}

.uhs-visible {
	visibility: visible !important;
}

.uhs-add-widget {
	float: right;
}

.uhs-ui-state-highlight {
	background-color: transparent;
	border: 1px dashed #aaa;
}

/**
 * Tab setup.
 */
#uhs-wrap .nav-tab {
	cursor: pointer;
}

.uhs-remove-tab {
	border: 0;
	background: transparent;
	padding: 0;
	margin-left: 10px;
	margin-right: -2px;
	cursor: pointer;
}

.uhs-remove-tab:hover {
	background-color: #d64e07;
}

.uhs-tab-setup-notice {
	display: block;
	float: left;
	color: #14ad0c;
	padding: 9px 0 0 10px;
}

.uhs-tab-setup-notice .dashicons {
	margin-right: 2px;
	margin-top: -1px;
}

.uhs-no-tabs-notice {
	clear: right;
	float: right;
	margin: 6px 0;
}

.uhs-tab-content-wrap {
	display: none;
	padding-top: 20px;
}

.uhs-tab-content-wrap.uhs-visible {
	display: block;
}

.uhs-widget-grid {
	margin-right: 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}

.uhs-widget,
.uhs-ui-state-highlight {
	padding: 0 10px 10px;
	margin: 0 10px 20px;
	width: 360px;
}

.uhs-widget-action-links a {
	margin-right: 10px;
}

/**
 * Widgets.
 */
.uhs-widget-title {
	padding: 10px 0 6px;
	display: block;
	margin: 0;
	padding-right: 65px;
	min-height: 23px;
}

.uhs-toggle-widget-info {
	position: absolute;
	border: none;
	background-color: white;
	cursor: pointer;
	top: 10px;
	right: 38px;
	width: 24px;
	height: 24px;
	padding: 0;
}

.uhs-toggle-widget-info:hover {
	background-color: #e2e2e2;
}

.uhs-remove-widget {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	background-color: white;
	cursor: pointer;
}

.uhs-remove-widget:hover {
	background-color: #d64e07;
}

.uhs-widget-info {
	display: none;
}

.uhs-widget-info.uhs-visible {
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}

/**
 * Post List Widget.
 */
.uhs-post-list-widget-posts {
	text-align: center;
}

.uhs-post-list-widget-posts .uhs-spinner {
	float: none;
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 100px;
	visibility: visible;
}

.uhs-post-list-widget-post {
	text-align: left;
	position: relative;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

.uhs-post-list-widget-post:last-child {
	border-bottom: none;
}

.uhs-post-list-widget-post::after {
	clear: both;
	display: block;
	content: '';
}

.uhs-widget-info-inner div {
	margin-bottom: 10px;
}

.uhs-widget-info-inner div:last-child {
	margin-bottom: 0;
}

.uhs-post-list-widget-left {
	max-width: calc( 100% - 122px );
	float: left;
}

.uhs-post-list-widget-post-title {
	margin: 0 0 6px;
	line-height: 1.4;
	font-size: 16px;
}

.uhs-post-list-widget-post-title a {
	text-decoration: none;
}

.uhs-post-list-widget-right {
	width: 118px;
	float: right;
	text-align: right;
	font-size: 12px;
	padding-top: 7px;
}

.uhs-post-list-widget-post-type,
.uhs-post-list-widget-post-status,
.uhs-post-list-widget-post-date,
.uhs-post-list-widget-post-modified-date {
	margin-bottom: 10px;
}

.uhs-post-list-widget-categories {
	text-align: right;
	line-height: 1.4;
}

.uhs-post-list-widget-categories li {
	margin-left: 4px;
}

.uhs-post-list-widget-pagination {
	text-align: center;
	margin: 10px 0 5px;
	position: relative;
}

.uhs-post-list-widget-pagination::after {
	content: '';
	clear: both;
	display: block;
}

.uhs-post-list-widget-previous,
.uhs-post-list-widget-next {
	display: none;
	position: absolute;
	top: 0;
	cursor: pointer;
}

.uhs-post-list-widget-previous.uhs-visible,
.uhs-post-list-widget-next.uhs-visible {
	display: block;
}

.uhs-post-list-widget-previous {
	text-align: left;
	left: 0;
}

.uhs-post-list-widget-next {
	text-align: right;
	right: 0;
}

/**
 * RSS Feed Widget.
 */
.uhs-rss-feed-widget-feed-content {
	text-align: center;
}

.uhs-rss-feed-widget-feed-content.uhs-loaded {
	text-align: left;
}

.uhs-rss-feed-widget-feed-content .uhs-spinner {
	float: none;
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 100px;
}

.uhs-rss-feed-widget-feed-content.uhs-loaded .uhs-spinner {
	display: none;
}

.uhs-feed-item {
	position: relative;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

.uhs-feed-item:last-child {
	border-bottom: none;
}

.uhs-feed-item::after {
	clear: both;
	display: block;
	content: '';
}

.uhs-feed-item-left {
	max-width: calc( 100% - 120px );
	float: left;
}

.uhs-feed-item-right {
	width: 115px;
	float: right;
	text-align: right;
	font-size: 12px;
	padding-top: 7px;
}

.uhs-feed-item-title {
	margin: 0 0 6px;
	line-height: 1.4;
	font-size: 16px;
}

.uhs-feed-item-title a {
	text-decoration: none;
}

.uhs-feed-item-date,
.uhs-feed-item-author {
	margin-bottom: 10px;
}

.uhs-feed-item-content {
	clear: both;
	line-height: 1.3;
}

/**
 * Add/Edit Modal.
 */
.uhs-modal .featherlight-content {
	width: 600px;
	max-width: 90%;
}

.uhs-modal-label {
	margin: 20px 0 40px;
}

#uhs-modal-widget-fields {
	margin: 15px 0 20px;
	background-color: #f1f1f1;
	padding: 10px;
}

#uhs-modal-widget-fields:empty {
	margin: 0;
	padding: 0;
}

.uhs-modal-bottom {
	clear: both;
	margin: 20px 0 10px !important;
}

#uhs-save-widget {
	visibility: hidden;
}

.uhs-thank-you {
	text-align: center;
	line-height: 1;
	padding: 10px 0 20px;
}

/**
 * Fields.
 */
.uhs-field::after {
	content: '';
	display: block;
	clear: both;
}

.uhs-field {
	margin-bottom: 15px;
}

#uhs-modal-widget-fields input.widefat {
	width: 320px;
	height: 33px;
}

.uhs-field .uhs-field-label {
	float: left;
	width: 30%;
	text-align: left;
	margin: 0;
	font-size: 16px;
	padding-top: 4px;
}

.uhs-field .uhs-field-input-wrap {
	width: 70%;
	float: left;
}

/**
 * Select2
 */
.select2-container {
	width: auto !important;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	color: #32373c;
	outline: 0;
	width: 320px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #32373C transparent transparent;
}

.select2-container .select2-search--inline {
	margin-bottom: 0;
}

.select2-container .select2-selection--single {
	height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-top: 1px;
	padding-bottom: 1px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	padding-top: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding: 0 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 4px;
	margin-bottom: 0;
	border-radius: 2px;
	cursor: pointer;
	background-color: #F7F7F7;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	margin-right: 3px;
	line-height: 18px;
	font-size: 20px;
	vertical-align: text-top;
	font-weight: 400;
}

.select2-container--default .select2-results > .select2-results__options {
	max-height: 185px;
}

.select2-container--open {
	z-index: 99999999999; /* This is necessary. */
}
